name: Auto Changelog

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write   # nutné pro zápis do CHANGELOG.md

jobs:
  changelog:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate Changelog
        id: changelog
        uses: metcalfc/changelog-generator@v4
        with:
          config-file: .github/changelog-config.json

      - name: Commit Changelog
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto-update CHANGELOG for ${{ github.ref_name }}"
          commit_user_name: "github-actions[bot]"
          commit_user_email: "github-actions[bot]@users.noreply.github.com"
          file_pattern: CHANGELOG.md
