name: Automated Release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Create artifacts
        run: |
          mkdir -p release_build
          cp -r aktualizator release_build/
          cp README.md release_build/
          tar -czf Termux-Updater-${{ github.ref_name }}.tar.gz release_build
          zip -r Termux-Updater-${{ github.ref_name }}.zip release_build

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          files: |
            Termux-Updater-${{ github.ref_name }}.zip
            Termux-Updater-${{ github.ref_name }}.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
